/* Resetting default browser margins/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Topbar */
.topbar {
    background-color: #006400; /* Green */
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.topbar .primary-logo {
    max-width: 150px;
}

.topbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
}

.topbar .nav-links a:hover {
    background-color: #4CAF50;
    border-radius: 5px;
}

/* Container for main content */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

/* Info Sections (What is LAS? and What is this website for?) */
.info-section {
    margin-bottom: 30px;
}

.info-section h2 {
    color: #006400;
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 16px;
    color: #555;
}

/* Footer */
footer {
    background-color: #FFD700; /* Dull Yellow */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fleet-item:hover {
    background-color: #e0f7fa; /* Blue hover */
    transform: scale(1.05); /* Slight zoom */
}
